[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
flask = "~=2.0.1"
dataclasses = "==0.6"
pandas = "*"
werkzeug = "~=2.0.1"
requests = "~=2.26.0"
prometheus-client = "~=0.11.0"
pyyaml = "~=5.4.1"
tqdm = "*"
pyarrow = "*"
prefect = "*"
pymongo = "*"
evidently = "==0.2.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
